@page "/"
@using AlunoFront.Components

<PageTitle>Home</PageTitle>

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Bem-vindo à Auto Escola XYZ</h1>
        <p class="lead">
            Este projeto é dedicado a fornecer um sistema de gerenciamento para uma auto escola. Nele, serão apresentadas algumas informações dos alunos cadastrados.
        </p>
        <img src="https://automotoescolacarlao.com.br/wp-content/uploads/2017/02/placas-600x368.png" alt="Placas de trânsito" class="img-fluid my-4"/>
    </div>
</div>

<footer class="bg-dark text-white text-center py-3 mt-5">
    <p>Desenvolvido por: Felipe Martins e Jessica Laine.</p>
    <p>Disciplina: Programação Web Avançada (Prof.: Camillo) - Análise e Desenvolvimento de Sistemas - Vianna Jr. (jun. 2024)</p>
</footer>
